﻿/* New Game Button */
.minesweeper-bttn-main{
line-height: 30px;
border-radius: 2px;
border: rgba(0,0,0,.3) 0px solid;
box-sizing: border-box;
padding: 5px 20px;
margin: 0;
/*background: #4885ed;*/
background: #ffb400;
color: #fff;
transition: background .4s;
cursor: pointer;
font-weight: 800;
text-transform: uppercase;
font-size: 14px;
}
.minesweeper-bttn-main:hover {
/*background: #3d70c7;*/
background: #ffcb00;
}
/* Validate , Cheat Buttons */
.minesweeper-bttn{
min-width:100px;
line-height: 30px;
border-radius: 2px;
border: rgba(0,0,0,.3) 0px solid;
box-sizing: border-box;
padding: 5px 20px;
margin: 0 10px 0 0;
background-color: #fff;
color: #ffb400;
border: 1px solid #ffb400;
transition: background .4s;
cursor: pointer;
font-weight: 800;
text-transform: uppercase;
font-size: 14px;
}
.minesweeper-bttn:hover {
background-color: #f6f6f6;
}
/* Validate Button Smiley bg */
.minesweeper-bttn.smiley{
background: url(smile.png) no-repeat center;
min-width: 100px;
}
.minesweeper-bttn.smiley:hover {
background: url(smile.png) no-repeat center #f6f6f6;
}
.minesweeper-alert {
padding: 8px 35px 8px 14px;
margin-bottom: 20px;
color: #c09853;
text-shadow: 0 1px 0 rgba(255,255,255,0.5);
background-color: #fcf8e3;
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin: 20px 0;
text-transform: uppercase;
font-size: 12px;
}
.minesweeper-alert.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
}
.minesweeper-alert.alert-success {
color: #468847;
background-color: #dff0d8;
border-color: #d6e9c6;
}
/* minesweeper table,td, ... */
table#minesweeper{
margin: 20px 0;
padding:0;
border-collapse: collapse;
}
table#minesweeper td {
display: inline-block;
padding: 8px 10px;
width: 16px;
font-size: 14px;
line-height: 15px;
color: #1fcb1e;
font-weight: 800;
text-align: center;
vertical-align: middle;
text-decoration: none;
cursor: pointer;
background-color: #f5f5f5;
/*border: 1px outset #ccc;*/
border-top: 1px outset #eee;
border-left: 1px outset #eee;
border-right: 1px outset #ddd;
border-bottom: 1px outset #ddd;
}      
table#minesweeper td:hover {
background-color: #e6e6e6;
}
table#minesweeper td:focus{
outline:1px solid #eee;
outline:1px auto -webkit-focus-ring-color;
outline-offset:-1px
}
table#minesweeper.active{
/* whatever */
}
table#minesweeper td.active,table#minesweeper td:active{
border: 1px inset #fff;
background-color:#e6e6e6;
}       
table#minesweeper td.mine {
color: red;
border: 1px inset #ccc;
}
table#minesweeper.fail {
/* whatever */
}
table#minesweeper.fail td.mine {
background-color: #333;
}